/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background: #fff url(../images/bg.jpg) no-repeat;
  background-color: #e097b0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  width: auto;
}

#wrapper{
  max-width: 100%;
  width: 940px;
  margin: 0 auto;
}

.main{
  max-width: 100%;
  width: 940px;
  float: left;
}

.header, .content, .bottom, .sep2{
  width: 100%;
  float: left;
}

.header{
	margin-top: 10%;
	margin-bottom: 40px;
}

h1{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

h1 strong{
  font-size: 38px;
  font-weight: 700;
}

h2{
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	color: #ffffff;
}

h2 strong{
	font-weight: 700;
	font-style: italic;
}

.information{
  width: 480px;
  padding-top: 35px;
  margin: 0 auto;
}

h3{
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.information p{
  font-size: 16px;
  color: #ffffff;
  display: block;
}

.form{
  position: relative;
  max-width: 478px;
  width: 100%;
  margin-top: 20px;
}

.field{
  background: url(../images/field.png) repeat;
  width: 100%;
  /*background: transparent;*/
  /*-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;*/
  border: 2px solid #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #ec7ca2;
  padding: 5px;
  margin-bottom: 15px;
  outline: none;
}

.field:focus {
  background: #fff;
}

@media only screen and (max-width: 480px)  {
	.information{
	  width: 90%;
	}
	.form{
  	width: 90%;
  	margin-left: 5%;
  	margin-right: 5%;
	}
	.field {
	  width: 90%;
	}
}

.submit{
  color: #ec7ca2;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 3px 10px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: #ffffff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover{
  background: #eeeeee;
}

.error {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
}

a {
  color: #92BCF2;
  font-weight: 700;
  outline: 0;
}

a:visited,
a:hover {
  color: #7EB6FF;
}
